@use '../styles' as *;
@use '../components/mixins' as *;

.menu {
  @include gradient;

  li{
    padding: 0 0.7rem;

    a.nav-link {
      color: $white;
      font-weight: 600;
      padding: 0 0.7rem;
  
      &:hover {
        color: $white;
      }
    }
  } 
}
